<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zzmstring.viewset"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:name="com.zzmstring.viewset.Base.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="com.zzmstring.viewset.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.zzmstring.viewset.UI.DragGridViewActivity"/>
        <activity android:name=".UI.QuickReturnActivity"/>
        <activity android:name=".UI.JNI1Activity"/>
        <activity android:name=".UI.HoverProgressBarActivity"/>
        <activity android:name=".UI.TClipActivity"/>
        <activity android:name="com.zzmstring.viewset.UI.CroutonActivity"/>
        <activity android:name=".UI.LoadingProgressBarActivity"/>
        <activity android:name=".UI.DragTopLayoutActivity"/>
        <activity android:name=".UI.SmoothProgressBarActivity"/>
        <activity android:name=".UI.RetalsPullToRefreshActvity"/>
        <activity android:name="com.zzmstring.viewset.UI.RefreshAndLoadActivity"/>
        <activity android:name=".UI.PullToRefresh.UltraPulltoRefreshActivity"/>
        <activity android:name="com.zzmstring.viewset.UI.PullToRefresh.DropAndDownListViewActivity"/>
        <activity android:name="com.zzmstring.viewset.UI.WandouIndexActivity"/>
        <activity android:name="com.zzmstring.viewset.UI.SlidingMenuActivity"/>
        <activity android:name="com.zzmstring.viewset.UI.AppMsgActivity"/>
        <activity android:name="com.zzmstring.viewset.UI.PluginAppActivity"/>
        <activity android:name="com.zzmstring.viewset.UI.zokesupport.ZokeSupportMainActivity"/>
        <activity android:name="com.zzmstring.viewset.UI.zokesupport.ReboundActivity"/>
        <activity android:name="androidx.pluginmgr.PluginActivity" />
        <activity android:name="com.zzmstring.viewset.UI.splash.WelActivity"/>
        <activity android:name="com.zzmstring.viewset.UI.splash.SuccessLaunchActivity"/>
        <activity android:name="com.zzmstring.viewset.UI.splash.activity.viewPage.ViewPagerActivity"/>
        <activity android:name="com.zzmstring.viewset.UI.splash.activity.viewFlipper.ViewFlipperActivity"/>
        <activity android:name="com.zzmstring.viewset.UI.splash.activity.splash.SplashActivity"/>
        <activity android:name="com.zzmstring.viewset.UI.splash.activity.scrollView.ScollerViewActivity"/>
        <activity android:name="com.zzmstring.viewset.UI.every.EdialogAty"/>
        <activity android:name="com.zzmstring.viewset.UI.every.EdrawerAty"/>
        <activity android:name="com.zzmstring.viewset.UI.every.EImageAty"/>
        <activity android:name="com.zzmstring.viewset.UI.every.ElayoutAty"/>
        <activity android:name="com.zzmstring.viewset.UI.every.ElistViewAty"/>
        <activity android:name="com.zzmstring.viewset.UI.every.EMdAty"/>
        <activity android:name="com.zzmstring.viewset.UI.every.EprogressAty"/>
        <activity android:name="com.zzmstring.viewset.UI.every.ErefreshAty"/>
        <activity android:name="com.zzmstring.viewset.UI.every.ProgressAty.CirAty"/>
        <activity android:name="com.zzmstring.viewset.UI.every.DiaAty.DiaPlusAty"/>

        <activity android:name="com.zzmstring.viewset.UI.every.ProgressAty.ProgressMainAty"/>
        <activity android:name="com.zzmstring.viewset.UI.every.ProgressAty.ProgressActivity"/>
        <activity android:name="com.zzmstring.viewset.UI.every.LayoutAty.Example1Activity"/>
        <activity android:name="com.zzmstring.viewset.UI.every.LayoutAty.Example2Activity"/>
        <activity android:name="com.zzmstring.viewset.UI.every.LayoutAty.LoadViewHelperAty"/>
        <activity android:name="com.zzmstring.viewset.UI.every.LayoutAty.SimpleActivity"/>
        <activity android:name="com.zzmstring.viewset.UI.every.LayoutAty.ShadowLayoutAty"/>
        <activity android:name="com.zzmstring.viewset.UI.PullToRefresh.IosPullToRefreshAty"/>
        <activity android:name="com.zzmstring.viewset.UI.every.LayoutAty.SwipeBackAty"/>
        <activity android:name="com.zzmstring.viewset.UI.every.LayoutAty.PullEyeAty"/>
        <activity android:name="com.zzmstring.viewset.UI.every.TestAty"/>
        <activity android:name="com.zzmstring.viewset.UI.other.AnimationsAty"/>
        <activity android:name="com.zzmstring.viewset.UI.every.ListAty.SegmentControlAty"/>
        <activity android:name="com.zzmstring.viewset.UI.every.EVewPagerAty"/>
        <activity android:name="com.zzmstring.viewset.UI.every.viewpager.SmartTabAty"/>
        <activity android:name="com.zzmstring.viewset.UI.every.refresh.ShowActivity"/>
        <activity android:name="com.zzmstring.viewset.UI.every.viewpager.TopNewsAty"/>
        <activity android:name="com.zzmstring.viewset.UI.every.ProgressAty.ProgressPieAty"/>
        <activity android:name="com.zzmstring.viewset.UI.every.ProgressAty.Radar1Aty"/>
        <activity android:name="com.zzmstring.viewset.UI.every.viewpager.SpringIndAty"/>
        <activity android:name="com.zzmstring.viewset.UI.every.DiaAty.MessBarAty"/>
        <activity android:name="com.zzmstring.viewset.UI.every.DrawableAty" android:theme="@style/Theme.Default.NoActionBar"/>
    </application>

</manifest>
