<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zzmstring.viewset"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:name="com.zzmstring.viewset.Base.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="com.zzmstring.viewset.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.zzmstring.viewset.UI.DragGridViewActivity"/>
        <activity android:name=".UI.QuickReturnActivity"/>
        <activity android:name=".UI.JNI1Activity"/>
        <activity android:name=".UI.HoverProgressBarActivity"/>
        <activity android:name=".UI.TClipActivity"/>
        <activity android:name="com.zzmstring.viewset.UI.CroutonActivity"/>
        <activity android:name=".UI.LoadingProgressBarActivity"/>
        <activity android:name=".UI.DragTopLayoutActivity"/>
        <activity android:name=".UI.SmoothProgressBarActivity"/>
        <activity android:name=".UI.RetalsPullToRefreshActvity"/>
        <activity android:name="com.zzmstring.viewset.UI.RefreshAndLoadActivity"/>
        <activity android:name=".UI.PullToRefresh.UltraPulltoRefreshActivity"/>
        <activity android:name="com.zzmstring.viewset.UI.PullToRefresh.DropAndDownListViewActivity"/>
        <activity android:name="com.zzmstring.viewset.UI.WandouIndexActivity"/>
        <activity android:name="com.zzmstring.viewset.UI.SlidingMenuActivity"/>
        <activity android:name="com.zzmstring.viewset.UI.AppMsgActivity"/>
        <activity android:name="com.zzmstring.viewset.UI.PluginAppActivity"/>

    </application>

</manifest>
